@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf5ea;
    --foreground: #586643;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.inter{
  font-family: var(--font-inter);
}

.button {
  position: relative;
  border-radius: 45px;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 45px;
  background: linear-gradient(
    257.64deg,
    #ffffff 35.6%,
    rgba(153, 153, 153, 0) 48.33%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.inner-shadow {
  box-shadow: inset 0px -4px 8.2px rgba(0, 0, 0, 0.685),
    inset 0px 4px 8.2px rgba(0, 0, 0, 0.685);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-120%);
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}

.animate-slide-left {
  animation: slideLeft 0.35s ease-out forwards;
}

.animate-slide-right {
  animation: slideRight 0.35s ease-out forwards;
}

.animate-in-left {
  animation: slideRight 0.35s ease-out reverse forwards;
}

.animate-in-right {
  animation: slideLeft 0.35s ease-out reverse forwards;
}

.caroussel {
  display: flex;
  align-items: center;
  height: 170px;
  gap: 12px;
  width: 100%;
}

.carousel-left,
.carousel-right {
  flex: 1; 
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #ffffff1f;
  background: #02020214;
  backdrop-filter: blur(48px);
  border-radius: 36px;
  position: relative;
  overflow: hidden;
}

.carousel-left > div,
.carousel-right > div {
  display: flex;
  gap: 12px;
  min-width: max-content;
  height: 145px;
}

.carousel-left {
  justify-content: flex-end;
}
.carousel-right {
  justify-content: flex-start;
}

.carousel-left > div > div,
.carousel-right > div > div {
  flex: 1 1 0px;
  min-width: 260px; 
  max-width: 260px; 
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;
  background: #586643;
  border: 1px solid #ffffff1f;
  color: white;
}

.carousel-left > div > div > p,
.carousel-right > div > div > p {
  width: 180px;
}

.caroussel-selected {
  width: 340px;
  height: 166px;
  background: #ffffff14;
  backdrop-filter: blur(48px);
  border: 1px solid #e7e7e7;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.scrollbar-none::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-none {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}


.scrollbar-none {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

@supports (animation-timeline: scroll()) {
  /* Timeline del scroll usando la sección */
  #stepsSection {
    scroll-timeline-name: stepsScroll;
    scroll-timeline-axis: vertical;
  }

  .steps-animated {
    animation: moveSteps 1s linear both;
    animation-timeline: stepsScroll;
  }

  /* 3 posiciones: Step1 → Step2 → Step3 */
  @keyframes moveSteps {
    0% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-180px);
    }
    66% {
      transform: translateY(-360px);
    }
    100% {
      transform: translateY(-360px);
    }
  }
}
